@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: #111;
}
/* body{
    min-height: 900px;
} */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/8pg4d-0NG3KRTWE8F-Full-Image_GalleryBackground-en-US-1554535973450._RI_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5rem;
    color: white;
}
.banner .content p{
    font-size: 1.3rem;
    color: white;
}
.btn{
    font-size: 1em;
    color: white;
    background-color: red;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 8px;
}
.btn:hover{
    letter-spacing: 7px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 40px 100px; */
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    /* CSS transitions allows you to change property values smoothly, over a given duration. */
    padding-inline-end: 40px;
    /* margin-top: 10px; */
}
header.sticky{
    background: #fff;
    padding-left: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    /* padding-top: 0px; */
    margin-top: 0px;
}
header .logo{
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}
header.sticky .logo{
    color: #fff;
}

header .navbar{
    position: relative;
    display: flex;
}
header .navbar li{
    list-style: none;
    margin-left: 80px;
    margin-top: 10px;
    font-weight: 400px;
}
header .navbar li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
header.sticky .navbar li a{
    color: black;
}
header .navbar li a:hover{
    color: red;
    font-size: 1.9rem;
    transition: 0.5s;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col{
    position: relative;
    width: 48%;
}
.titleText{
    color: black;
    font-size: 2em;
    font-weight: 300;

}
.titleText span{
    color: red;
    font-weight: 800;
    font-size: 1.7em;
}
.row .col .imgBx{
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 100%;
}
.row .col .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
    
}
.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0.5, 0.5, 0.5, 0.3);
}
.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text{
    padding: 15px 0 5px;
}
.menu .content .box .text h3{
    font-weight: 400;
    color: black;
    text-align: center;
}
.experts .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.experts .content .box{
    width: 280px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0.5, 0.5, 0.5, 0.3);
}
.experts .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 350px;
}
.experts .content .box .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experts .content .box .text{
    padding: 15px 0 5px;
    text-align: center;
}
.experts .content .box .text h3{
    font-weight: 400;
    color: #111;
}
.menu .content .box :hover{
    /* border: 15px solid #fff; */
    /* width: 360px; */
    transform: scale(1.019);
    box-shadow: 0 25px 40px rgba(0,0,0,0.3);
    cursor: pointer;
}
.experts .content .box .imgBx:hover{
    /* width: 0; */
    /* margin: 15px; */
    transform: scale(1.05);
    cursor: pointer;
}
.contact{
    background: url("https://image.freepik.com/free-photo/copy-space-fried-egg-with-fresh-vegetables-dish-plain-background_23-2148267639.jpg");
    background-size: cover;
}
.contactForm{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 25px 40px rgba(0.5,0.2,0.2,0.8);
    max-width: 500px;
}
.contactForm h3{
    color: #111;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 700;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    /* outline: none; */
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"]{
    font-size: 1rem;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
.contactForm .inputBox input[type="submit"] :hover{
    max-width: 150px;
}
